button.control {
    display: block;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
}

button.control:hover {
    background-color: var(--mantine-color-gray-0);
}

button.control a {
    color: inherit;
    text-decoration: none;
}

button.control.logout {
    color: var(--mantine-color-red-6);
}

button.control.logout:hover {
    background-color: var(--mantine-color-red-1);
}
